{% extends "main/base.html" %}
{% load tailwind_filters %}
{% block content%}
<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px] pb-72">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
        <div class="flex min-h-full flex-col justify-center">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">You have been logged out</h2>
            </div>
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <p class="mt-10 text-center text-sm text-gray-500">
                    Login again?
                    <a href="{% url 'login' %}" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Login</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content%}